.App{
  background-color: #1E202B;
}

.header{
  width: 100%;
  /* height: 60px; */
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: aliceblue; */
}

.container-info{
  width: 100%;
  height: 92vh;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: #1E202B; */
}